@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">BlogRipper for LSA</h1>
    
    @for (var i = 0; i < Model.Posts.Count; i++)
    {
        @Html.Partial( Model.Partial, Model.Posts[i] );
    }
</div>
